extends layout

block content
  h1 List of videos for: #{query}
  if result
    p Total results: (#{totalResults})
 
  hr

  div.row
      if result
        .col-md-6
          if prevPageToken
            a.btn-prev.btn.btn-info(href="?q=" + query + '&prev=' + prevPageToken + '&limit=' + limit + '&type=' + type) &laquo; Previous
        .col-md-6
          a.btn-next.btn.btn-info.pull-right(href="?q=" + query + '&next=' + nextPageToken + '&limit=' + limit + '&type=' + type) Next &raquo;

  ul.video-gallery
    each item, i in items
      li
        p: b= item.snippet.title
        iframe(id="player", width="300", height="200", src="http://www.youtube.com/embed/" + item.id + "?autoplay=0&controls=2", frameborder="0", allowFullScreen=true)
        p= moment(item.snippet.publishedAt).format("DD/MM/YYYY") + " - " + item.snippet.channelTitle
        p Duration: #{moment.duration(item.contentDetails.duration).format("hh:mm:ss")}
        a.btn.btn-primary(href="/download?url=https://youtu.be/" + item.id) Download

  div.row
      if result
        .col-md-6
          if prevPageToken
            a.btn-prev.btn.btn-info(href="?q=" + query + '&prev=' + prevPageToken + '&limit=' + limit + '&type=' + type) &laquo; Previous
        .col-md-6
          a.btn-next.btn.btn-info.pull-right(href="?q=" + query + '&next=' + nextPageToken + '&limit=' + limit + '&type=' + type) Next &raquo;

  //- .row
  //-   .col-md-12
  //-     =JSON.stringify(items, null, 2)